@charset "UTF-8";

.updateForm{
    margin-top: 90px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    padding:40px;
    border: 2px solid #2E0D6C;
    width:80%;
    border-radius: 12px;
    background-color:#e4eaff;
}
.titleArea{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-bottom: 20px;
}
input[type=text]{
    border: 2px solid #2E0D6C;
    border-radius: 12px;
    padding-left:10px;
    height:35px;
}
.title{
	height: 30px;
}
.contentContainer{
    display: flex;
    flex-direction: column;
}
.tox-tinymce{
    border: 2px solid #2E0D6C !important;
    border-radius: 12px;
}
.btnArea{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    
}
.updateBtn{
	width: 80px;
	height: 35px;
	border:none;
    background-color: rgb(255 92 92);
    color: white;
    margin-right: 90px;
}
.updateBtn:hover{
    background-color: rgb(231 76 60);
}
