body {
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; 
    height: 100vh;  
    width: 100vh;   
    margin:auto;       
}
.totalSignForm {
	margin:auto;
	flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 537.41px;
    border: 3px solid #2E0D6C;
    border-radius: 80px;
}
.loginForm {
	flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginBtn{
	text-decoration: none;
	text-align: center;
	padding: 5px 15px 10px 15px;
    height: 20px;
    width:240px;
    background-color: #FF5C5C;
    color: white;
    border: 1px solid #FF5C5C;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}
.loginBtn:hover {
    background-color: #E74C3C;
}
.signupForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height:100%;
    gap:20px;
    border: 3px solid #2E0D6C;
    border-radius: 70px;
    background-color: #2E0D6C;
}
.signupForm h2 {
    color: white;
}
.joinForm{
	height:100%;
	
}
.joinForm label {
    display: block;
    text-align: left;
    font-weight: bold;
    width: 100%;
	margin-top:20px;
	margin-bottom:5px;
	color: white;
}
.joinForm input:not(.birthdate):not(.userid) {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    background-color: 	#BFA5E2
}
.idContainer {
	display:flex;
	flex-direction:column;
}
.userIdInput{
	flex:4;
}
.idInputContainer{
	display:flex;
	flex-direction:row;
	gap:10px;
}
.checkUserIdBtn {
    flex: 1;
    width: auto;
    height: 35px;
    background-color: #FF5C5C;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    border: 1px solid #FF5C5C;
}
.birthGenderContainer {
    display: flex;
    gap: 10px;
    width: 100%; 
}
input.birthdate  {
    border: none;
    border-radius: 10px;
    height: 30px;
    width:150px;
    background-color: 	#BFA5E2;
	color: gray;
}
.birthdate:valid{
	color:black;
}
select.gender  {
    height: 30px;
    width:100px;
    border-radius: 10px;
    background-color: 	#BFA5E2;
    border: none;
	color: gray;
}
.gender:valid{
	color:black;
}
.userIdContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkUserIdBtn:hover {
	 background-color: #E74C3C;
}
.birthGenderContainer{
	justify-content:row;
	display:flex;
}

.birthContainer {
	flex:2;
	flex-direction:column;
}
.genderContainer {
	flex:1;
	flex-direction:column;
}
.registerBtn {
    width: 100%;
    height:40px;
    background-color: #FF5C5C;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.3s;
    border: 1px solid #FF5C5C;
}
.registerBtn:hover {
    background-color: #E74C3C;
}
.required{
	color: red;
}
.loginImg{
	width:260px;
	height: auto;
}