body {
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; 
    height: 100vh;  
    width: 100vh;   
    margin:auto;       
}

.totalSignForm {
	margin:auto;
	flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 537.41px;
    border: 3px solid rgb(255 154 60);
    border-radius: 80px;  
}
.loginBtn{
	width: 100%;
    height:40px;
    background-color: rgb(255, 130, 60);
    color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid black;
}
.loginBtn:hover {
    background-color: rgb(226, 121, 0);
}
.loginContainer{
	flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
	width:100%;
    border-radius: 70px;
    background-color: rgb(255 154 60);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255 154 60);
	width:60%;
    margin-top:120px;
}
.loginForm label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}
.loginForm input{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    background-color: rgb(255, 239, 216);
}
.signupForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signUpBtn{
	text-decoration: none;
	text-align: center;
	padding: 5px 15px 10px 15px;
    height: 20px;
    width:240px;
    background-color: rgb(255, 130, 60);
    color: white;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.signUpBtn:hover {
	 background-color: rgb(226, 121, 0);
}