body{
    background-color: black;
}
#back{
    background-color: rgb(230, 151, 87);
    /* background-image: url("./masha-kotliarenko-y0zES82Oxl0-unsplash.jpg");
    background-size: cover; */
    display: flex;
    flex-direction: row;
    width:1000px;
    height: 600px;
    margin: 140px 140px;
    /* padding:60px 20px 60px 550px; */
    border-radius: 70px;
    border: 0px solid rgb(255, 177, 75);
}
#loginFormBack{
    display: flex;
    flex-direction: column;
    width:600px;
    height: 600px;
    margin-top:-3px;
    margin-left:-4px;
    background-color: rgb(255, 253, 247);
    border-radius: 70px;
    border: 4px solid transparent;
    align-items: center;
    text-align: center;
    
}
#loginFormBack h2{
    margin-top: 40px;
    color: rgb(226, 121, 0);
}
#loginForm label, input{
    margin-top:70px;
    /* margin-bottom:0px; */
}
#loginForm #password{
    margin-top:40px;
}
input{
    background-color: rgb(255, 239, 216);
    width: 200px;
    height:30px;
    border: none;
    border-radius: 10px;
    padding:5px;
    text-align: center;
}
#loginForm button{
    width: 200px;
    height:50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 154, 60);
    color: aliceblue;
    font-size:18px;
    font-weight: bold;
    margin-top: 170px;
}
#signupGuide{
    display: flex;
    background-color: transparent;
    width:400px;
    height: 600px;
    margin-top:25px;
    margin-left: 40px;
    margin-bottom:20px;  
    
    align-items: center;
    text-align: center;
}
