.topSection{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding:0;
    background-color: transparent;
    height: 20vh;
	width:100%;
    min-width: 1250px;
    border-style: hidden;
}
.buttonContainer{
	display:flex;
	flex-direction: column;
	width:1200px;
}
.logoutForm{
	display:flex;
	justify-content:flex-end;
	gap:10px;
	width:100%;
}
.showId{
	font-style: italic;
	margin-top:15px;
	
}
.logoutBtn{
	width: 80px;
    height: 35px;
    border:2px solid #FF5C5C;
	background-color:#FF5C5C;
	color:white;
    border-radius: 20px;
	margin-top:10px;
	cursor:pointer;

}
.logoSearchContainer{
	display:flex;
	flex-direction:row;
}
.logoContainer{
	width:0%;
}
.logo{
	
}
.search{
    display: flex;
    width:100%;
    background-color: transparent;
    align-items: center;
    justify-content:center;

}
.searchText{
    width:450px;
    height:40px;
    border-radius: 20px;
    border:2px solid #FF5C5C;   
}
.searchButton{
    width: 80px;
    height: 46px;
    border:2px solid #FF5C5C;
	background-color:#FF5C5C;
	color:white;
    border-radius: 20px;
    margin:-50px;
}
.searchButton:hover{
	background-color:	#E74C3C;
}
.navbar{
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: 30px;
    color:rgb(255, 251, 251);
    font-size: 18px;
    justify-content:center;
}
.menu {
  text-align:center;
  display: flex;
  justify-content: space-evenly;
  background-color: #2E0D6C;
  width:1200px;
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.menuItem {
	flex:1;
  position: relative;
  padding: 15px 25px;
  cursor: pointer;
	
}
.menu a{
	text-decoration:none;
	color:white;
}
.menuItem ul a{
	text-decoration:none;
	color:black;
}

.admin-mode #myPage {
    display: none;
}

#adminPage {
    display: none; 
}
.menuItem:hover {
  background-color: #1e0846;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 2px;
  width:65%;
  padding-right:40px;
  background: #fff;
  color: #000;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 100;
}
.menuItem:hover .submenu {
  opacity: 1;
  pointer-events: auto;
}
.submenu li {
  padding: 10px 20px;
  white-space: nowrap;
}
.submenu li:hover {
  font-weight:bold;
}
.logo{
	width:120px;
	height:auto;
}
  
  
  