@charset "UTF-8";
.bottomSection{
	margin-top: 10px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    padding:40px;
    border: 1px solid gray;
    width:80%;  

}

.searchOption{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	gap: 10px;
	margin-bottom:15px;
}
input[type=text]{
	border-radius: 25px;
    border: 2px solid #2E0D6C;
	padding-left: 10px;
	margin-left:8px;
}
input[type=date]{
	margin-left:4px;
	border-radius: 25px;
    border: 2px solid #2E0D6C;
	padding-left: 10px;
}
.startDateContainer{
	display:flex;
}
.endDateContainer{
		display:flex;
	
}
.searchContainer{
	display:flex;

}
.searchBtnContainer button{
	background-color: #ff5c5c;
	border:1px solid #ff5c5c;
	color:white;
	width:60px;
}
.searchBtnContainer button:hover{
	background-color: #e74c3c;
}
.searchBtnContainer{
		display:flex;
	
}
.listContainer{
	display:flex;
	justify-content: center;
}
.boardList{
	width:100%;
	border:none;
}
table tr{
	height: 43px;
}
th{
	    background-color:  #BFA5E2;
	    color: white;
	    
}
.title{
	width:63%;
}

.createDate{
	width:13%;
}
.viewCount{
	width: 8%
}
.pageContainer{
	display:flex;
	justify-content: center;
}

.pagination{
	text-decoration:none;
	color: gray;
}
.pagination:hover{
	font-weight:bold;
	text-decoration:underline;
}

.preArrow{
	text-decoration:none;
	color: gray;
}
.postArrow{
		text-decoration:none;
	color: gray;
}




.createBtnContainer{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}
.createBtn{
	
	text-align:center;
	padding:auto;
	background-color: #ff5c5c;
 	width:80px;
 	border: 1px solid #ff5c5c;
	
  
}
.createBtn:hover{
	background-color: #e74c3c;
}
.createBtn a{
	text-decoration: none;
	color:white;
}