#back{
    background-color: rgb(230, 151, 87);
    /* background-image: url("./masha-kotliarenko-y0zES82Oxl0-unsplash.jpg");
    background-size: cover; */
    /* opacity: 0.5; */
    display: flex;
    flex-direction: row;
    width:1000px;
    height: 600px;
    margin: 140px 140px;
    /* padding:60px 20px 60px 550px; */
    border-radius: 70px;
    /* border: 4px solid rgb(255, 177, 75); */
    border:2px solid rgb(230, 151, 87);

    
}
#joinForm{

    display: flex;
    flex-direction: column;
    width:600px;
    height: 96.8%;
    background-color: rgb(255, 253, 247);
    border-radius: 70px;
    align-items: center;
    text-align: center;
    border: 4px solid transparent;
    margin:5px;
    
}
#joinForm h2{
    margin-top:40px;
    color: rgb(226, 121, 0);
}
/* #joinForm{
    margin:0px;
} */
#joinForm label, input{
    margin-top:3px;
    margin-bottom:3px;
    
} 

#idContainer {
	display: flex;
	flex-direction: row;
	
}

#idContainer button{
	
	 width: 200px;
    height:30px;
    border: none;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    background-color: rgb(226, 121, 0);
    color:white;
}

#joinForm #userId{
    margin-top:0px;
}

input{
    width: 200px;
    height:30px;
    border: none;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    background-color: rgb(255, 239, 216);
}

#gender{
    background-color: rgb(255, 239, 216);
    margin-top:20px;
    margin-bottom:20px;
    height: 40px;;
    width: 200px;
    border: none;
    border-radius: 10px;
    padding:5px;
    text-align: center;
}
#joinForm button{
    width: 200px;
    height:50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 154, 60);
    color: aliceblue;
    font-size:18px;
    font-weight: bold;
    margin-top: 15px;
}
#loginGuide{
    
    display:flex;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width:400px;
    height: 600px;
    margin-top:25px;
    margin-left: 40px;
    margin-bottom:20px;  
    margin-right:57px;

}
