@charset "UTF-8";

.summery {
	padding: 20px;
	position: relative;
	border: 2px solid rgb(30, 8, 70);
	border-radius:10px;
	width: 800px;
	height: 300px;
	left: 240px;
}

.texta {
	border: 2px solid rgb(30, 8, 70);
	border-radius:10px;
	width: 750px;
	height: 40px;
}


.h5{
	margin-left:230px;
}

.insertComment {
	position: relative;
	display:flex;
	flex-direction:row;
}

.stitle {
	position: absolute;
	top: 27px;
	right: 40px;
	font-size: 25px;
}

.sprice {
	position: absolute;
	top: 60px;
	right: 40px;
	font-size: 25px;
}

.sid {
	position: absolute;
	top: 120px;
	right: 40px;
	font-size: 20px;
}

.lik {
	position: absolute;
	top: 150px;
	right: 40px;
	font-size: 20px;
}

.like {
	position: absolute;
	top: 150px;
	right: 60px;
	font-size: 20px;
}

.likebtn {
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-size: 20px;
}

.detail {
	padding: 20px;
	margin-top: 20px;
	position: relative;
	left: 240px;
	border: 2px solid rgb(30, 8, 70);
	border-radius:10px;
	background-color: #e4eaff;
	width: 800px;
	height: 500px;
}

.picture {
	position: relative;
}

button#commentCreateBtn {
    border: 1px solid transparent;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #FF5C55;

}
.commentList{
	margin-left: 20px;
	
}

.commentDateArea{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	margin-right:85%;
	    width: 180px;
}
.commentDateArea a{
	font-size:12px;
	cursor: pointer;
}
.commentContent p{
	display:flex;
    flex-wrap:wrap;
	margin-top:20px;
}
.commentContent{
	margin-bottom:10px;
}
.updateComent{
	width:100%;
}
.replyComment{
	width:100%;
}
.updateCommentArea{
	display: flex;
	flex-direction: row-reverse;
	    width: 760px;
	    
}
.updateCommentArea button{
	width: 60px;
	height: 25px;
	border:none;
    background-color: #FF5C55;
    color: white;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    cursor: pointer;
    border-radius:8px;
}
.replyCommentArea{
	display:flex;
	flex-direction: row-reverse;
	width: 760px;
}
.replyCommentArea button{
	width: 65px;
	height: 25px;
	border:none;
    background-color:#FF5C55;
    color: white;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    cursor: pointer;
    border-radius:8px;
}
.updateDeleteArea{
	display:flex;
	flex: row;
	
}
.commentUpdate{
    border: none;
    width: 40px;
}
.commentDelete{
	border: none;
	width: 40px;
}
button.replycommentBtn {
    border: none;
    width: 40px;
        margin-right: 45px;
}

.h4{
	margin-top: 20px;
	margin-left:230px;
}
.contentArea{
	margin-left:20px;
}
.replComment{
	border: 2px solid rgb(30, 8, 70);
    border-radius: 10px;
    width: 750px;
    height: 40px;
}