@charset "UTF-8";

.summery {
	padding: 20px;
	position: relative;
	border: 2px solid rgb(30, 8, 70);
	border-radius:10px;
	width: 800px;
	height: 300px;
	left: 250px;
}

.texta {
	border: 2px solid rgb(30, 8, 70);
	border-radius:10px;
	width: 750px;
	height: 40px;
}


.h5{
	margin-left:250px;
}

.h4 {
	position: relative;
	display:flex;
	flex-direction:row;
}

.stitle {
	position: absolute;
	top: 27px;
	right: 40px;
	font-size: 25px;
}

.sprice {
	position: absolute;
	top: 60px;
	right: 40px;
	font-size: 25px;
}

.sid {
	position: absolute;
	top: 120px;
	right: 40px;
	font-size: 20px;
}

.lik {
	position: absolute;
	top: 150px;
	right: 40px;
	font-size: 20px;
}

.like {
	position: absolute;
	top: 150px;
	right: 60px;
	font-size: 20px;
}

.likebtn {
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-size: 20px;
}

.detail {
	padding: 20px;
	margin-top: 20px;
	position: relative;
	left: 250px;
	border: 2px solid rgb(30, 8, 70);
	border-radius:10px;
	background-color: #e4eaff;
	width: 800px;
	height: 500px;
}

.picture {
	position: relative;
}

button#commentCreateBtn {
    border: 1px solid transparent;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #FF5C55;

}

